name: Test

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: sudo apt install --yes wsjtx libhamlib-utils
      - run: make bootstrap
      - run: make check
      - run: make test
